/*class Selector*/ 
.cssDemo{ 
height: 900px; 
width: 700px; background: grey;
 }*/
 /id selector/ 
/*#idDemo
{ 
height: 250px; width: 100px; background: yellow 
}*/
 /combination selectors/ 
/*#navBar div1{ 
color: blue 
} 
#navBar div2{ 
	color: green
 }*/ 
/*/element selctor/ 
 
 .h1 div2{
  color: yellow; background:black;
 }



 #navBar { 
      background: grey;
      font-size:50px;
      color:deeppink;
 } 
span .kaveri{background: black;color: white}
		#ists{
			background: blue;
			font-size:50px;
			color: grey;
		
{ 
	background: pink; 
}*/


 .kaveri{
 	background: black;
 	color: white;
 }
		#ists{
			background: blue;
			font-size:50px;
			color: grey;
		}
		
	#navbar{ 
		background: blue;
		font-size: 70px;
		color:pink;

	}	
	.div {
		background: green;
		font-size: 80px;
		color:darkpink;

	}